<% provide(:title, @user.name) %>
<h1>User Information</h1>
<div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.name %> </td>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
</div>