<div class="fields">
  <p>
    <%= f.label :name, "name lesson" %>
    <%= f.text_field :name, :rows => 1, autofocus: true, class: "form-control" %><br />
    <%= f.label :content, "content lesson" %>
    <%= f.text_area :content, :rows => 2, autofocus: true, class: "form-control" %><br />
  </p>
</div>